$red-000: #ff0026;
$red-100: #ffcdd2;
$red-200: $red-000;
$red-300: #e57373;

$orange-000: #ff9d00;
$orange-100: #ffe0b2;
$orange-200: $orange-000;
$orange-300: #ffb74d;

$yellow-000: #ffea00;
$yellow-100: #fff9c4;
$yellow-200: $yellow-000;
$yellow-300: #fff176;

$green-000: #4eb156;
$green-100: #c8e6c9;
$green-200: $green-000;
$green-300: #81c784;

$blue-000: #1192ee;
$blue-100: $blue-000;
$blue-200: #90caf9;
$blue-300: #64b5f6;

$purple-000: #a947b8;
$purple-100: $purple-000;
$purple-200: #ce93d8;
$purple-300: #ba68c8;

$pink-000: #ff4081;
$pink-100: #f8bbd0;
$pink-200: #f48fb1;
$pink-300: #f06292;